body  {
    
    background-image: url("GALA.jpg");
    background-color: rgb(243, 243, 243);
    color: rgb(7, 8, 10);

  
  }

  h2{

    background-color: rgb(185, 62, 159);
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #09070c;
width: auto 200px;

  }
  p{
    background-color:  rgb(185, 62, 159);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: smaller;
    color: #0f0c0f;
width: auto 100px;

  }
  button{

    background-color: rgba(250, 235, 215, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 300% 20px;
    font-size: 25px;
    border-style: solid ;
    cursor: pointer;
    text-align: center;
    width: block;
    color:rgb(255, 255, 255) ;
  }
  .flex-container {
    display: flex;
   background-color: #a31eaf00;
    
    justify-content: center;
    flex-direction: row;
  }
  
  .flex-container > div {
background-color:rgb(144, 40, 158);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
    flex-direction: row;
  }